/* .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    color: red;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility: visible;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
}

.backSprite {
   visibility:hidden;
   font-size:30px;
   cursor:pointer;
   color: black;
}
.backSprite:before {
   content: "\21BA";
   position: absolute;
   visibility:visible;
}
.backSprite:checked:before {
   content: "\21BB";
   position: absolute;
} */

.star {
   visibility: hidden;
   font-size: 30px;
   cursor: pointer;
   color: red;
   position: absolute;
   top: 1px;
   left: 645px;
}

.star:before {
   content: "\2606";
   visibility: visible;
}

.star:checked:before {
   content: "\2605";
}

.backSprite {
   visibility: hidden;
   font-size: 28px;
   cursor: pointer;
   color: black;
   position: absolute;
   top: 7px;
   left: 615px;
}

.backSprite:before {
   content: "\21BA";
   visibility: visible;
}

.backSprite:checked:before {
   content: "\21BB";
}
